@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body {
    /* background-color: wheat; */
    width: 90%;
    max-width: 900px;
    margin: 0 auto !important;
    
}



html{
    font-family: Arial, Helvetica, sans-serif;
}




/*media query */
@media only screen and (max-width:600px){
    body {
        /* background-color: thistle */
     }

    .box1 {
        width: 100%;
    }
    
    .box2 {
        width: 100%;
    }
    .box3 {
        width: 100%;
    } 
    .box2B{
        width: 100%;
    }

     .wrapper{
        display: grid;
        float: left;
    } 
    .wrapper2{
        display: grid;
        float: left;
    } 
    .wrapper3{
        display: grid;
        float: left;
    } 
}





/* navbar*/

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    display: inline-flex;
    float: right;
    
    }


    nav ul a{
        text-decoration: none;
        padding: 10px;
        background-color: transparent;
        color: black;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    

        
       
        
    }
nav{
    padding: 10px;
    @media (min-width:600px){
        padding:20px
    }
}

/*logo navbar*/
div .logonav {
    float: left;
    
}
nav div  {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    display: inline-flex;

}

div li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: transparent;
}
div li a:hover{
    color: black;
    text-decoration: none;
}


a:hover {
    color: #0075f6;
    text-decoration: underline;
}



/*header*/
header {
    display: flex;
    padding: 48px;
    border:solid springgreen;
}


/*about me section*/
/*What I do section*/
.wrapper{
    display:grid;
    border: solid steelblue;
    padding: 20px;
}
.wrapper > div {
    flex: 1;
}

.box1 {
    border: solid yellowgreen;
}

.box2 {
    border: solid yellowgreen;
    display: flex;
}
.minibox{
   flex:1;
}

.box3 {
    border: solid yellowgreen;
}

/*specific parts of the box*/
.wrapper2 {
    display: grid;
    padding: 20px;
}

.box2B {
    display: flex;
}

.wrapper3{
    display:block;
    padding: 20px;
}

