@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




html{
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}


body {
    background-color: white;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    justify-content: center;

    
}



main {
    
    align-self: center;
    background-color: rgb(205, 226, 243);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap:wrap;
    
}


p{
    color: gray;
    line-height: 1.8em;
    text-align: inherit;
    margin:1.5em;
    
    
 }

 h4 {
    font-weight: 100;
    font-size: 1.2em;
    line-height: 1.9em;
    
}

h3{
    font-size: 1.4em;
    color: rgb(53, 50, 50);
    
    
}

h1{
    font-size: 2em;
}



 
nav{
    margin:auto;
    display: flex;
    flex-direction:column;
    

}


.navbar{
    overflow: hidden;
    background-color: rgb(134, 134, 241);
    position: relative;
    text-decoration: none;
}

.navbar ul{
    display: flex;
    flex-direction: column;
    
}

.navbar, ul, a{
    text-decoration: none;
}

.navbar #myNavbar{
    display: none;
}

.navbar a{
color: white;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}

.navbar a.icon{
    background: rgb(83, 99, 247);
    display: block;
    position:absolute;
    right: 0;
    top: 0;
}

.navbar a:hover{
    background-color: rgb(121, 60, 233);
    color:white;
}

.active{
    background-color:  rgb(134, 134, 241);
    color: white;
}


/*header*/
header {
    display: flex;
    padding: 5%;
    
}

 /* background image*/
 .head1{
    width: 100%;
    height: 400px;
    background-image: url("https://images.unsplash.com/photo-1486520299386-6d106b22014b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    margin: 0 auto;
    
}

 /* Caption text */
 .text {
    background-color: rgba(255, 255, 255, 0.226) ;
    font-family: "Poppins";
    color:#051e68;
    font-size: 2em;
    padding: 1em;
    line-height: 1.5em;
}

.subheading-1{
    color:#051e68;
    text-transform: uppercase;
    font-size: 0.5em;
    display: block;
    letter-spacing: 3px;
}


  
.blutext{
      color: rgb(76, 130, 230);
      font-weight: bold;
}
  
.subtheader2{
    font-size: 1em;
    font-weight: 200;
    color:#051e68;
    
}


/* button animation*/
button {
    background: none;
    color: #F8FFE5;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 0.5em;
   transition: all 0.25s;

}

button:hover{
border-color: #f1ff5c;
color:orange;
box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
transform: translateY(-0.25em);
cursor: pointer;
}



/*about me section*/
/*What I do section*/



.box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
        
    
}

/*remember to show this image on big screen*/

.box1.imgaboutme{
    width: 100%;
    height: 400px;
    background-image: url("https://images.unsplash.com/photo-1503924087716-07cbd5f49b21?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80");
    background-size: cover;
    margin: 0 auto;
    display: none;
   
}
.box1 .aboutmebox{
    /* margin-left: 0em; */
    align-self:flex-start;
    padding: 2em;
}



.subheading{
    color: rgb(33, 33, 34);
    text-transform: uppercase;
    padding: 1.6em;
    letter-spacing: 3px;
}


/*What I do section*/ 
/*Accomplisments*/
/*blog section*/

.box2, .box3{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;
      
}
 


.minibox {
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    
}


/*Hire me section*/
.box4{
    border-radius: solid 10px;
    max-width: 100%;
    display: flex;
    flex-direction: column;  

}

.hireme{
    background-color: rgb(9, 128, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    max-width: 100%;
    padding-bottom: 1em;
   
}



.row{
    text-align: center;
    color:white;
    line-height: 2em;
    font-size: 2.8em; 
    
    
}

.row span{
    font-weight:bolder;  
    
}

.btn-hireme{
    align-self: center;
    width: 30%;
    border-radius: 5px;
    background-color: white;
}

.btn-hireme, .btn {
    font-size: 1em;
    text-align: center;
    color: rgb(56, 56, 56);
    transition: all 0.25s;


}

.btn-hireme:hover{
  border-color: #e5f535;
  /* color:rgb(243, 180, 64); */
  box-shadow: 0 0.6em 0.6em -0.4em #e0c528;
  transform: translateY(-0.25em);
  cursor: pointer;
}



/*contact me*/
.box5{
    display: flex;
    flex-direction: column;
    
}

/*hide image for mobile*/
.connectimg{
    display: none;
    align-self: center;
    width: 90%;
    height:400px;
    background-image: url("https://images.unsplash.com/photo-1557180295-76eee20ae8aa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80");
    background-size: cover;
    margin-bottom: 2em;
}

.contact {
    flex-direction: column;
    align-self: center;
    max-width: 14em;
    width: 100%;
    background: #f8f9fa;
    padding: 3rem !important;
    left: 0px;
    margin-bottom: 2em;
   
}


/* contact form*/
input[type=text], select, textarea {
    width: 100%;
    padding: 0.9em;
    /* border: 1px solid gray; */
    border-radius: 4px ;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 16px;
    border: solid 1px  rgb(231, 230, 214);
    font-family: "Poppins", Arial, sans-serif;
    


}
input[type=email]{
    width: 100%;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 16px;
    border: solid 1px rgb(231, 230, 214);
    font-family: "Poppins", Arial, sans-serif;
    

}

 input[type=SendMessage]  { 
    
    width: 100%;
    padding: 1em;
    background: #0075f6;
    border: 1px  #0075f6;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
    /* display: inline-block; */
}

input[type=SendMessage]:hover{
    background-color: #144de9;
}






@media (min-width:900px){
    main {
        background-color: white;
    }
}