

body {
    /* background-color: wheat; */
    width: 90%;
    max-width: 900px;
    margin: 0 auto !important;
    
}



html{
    font-family: Arial, Helvetica, sans-serif;
}




/*media query */
@media only screen and (max-width:600px){
    body {
        /* background-color: thistle */
     }

    .box1 {
        width: 100%;
    }
    
    .box2 {
        width: 100%;
    }
    .box3 {
        width: 100%;
    } 
    .box2B{
        width: 100%;
    }

     .wrapper{
        display: grid;
        float: left;
    } 
    .wrapper2{
        display: grid;
        float: left;
    } 
    .wrapper3{
        display: grid;
        float: left;
    } 
}





/* navbar*/







/*header*/
header {
    display: flex;
    padding: 48px;
    border:solid springgreen;
}


/*about me section*/
/*What I do section*/
.wrapper{
    display:flex;
    border: solid steelblue;
    padding: 20px;
}
.wrapper > div {
    flex: 1;
}

.box1 {
    border: solid yellowgreen;
}

.box2 {
    border: solid yellowgreen;
    display: flex;
}
.minibox{
   flex:1;
}

.box3 {
    border: solid yellowgreen;
}

/*specific parts of the box*/
.wrapper2 {
    display: grid;
    padding: 20px;
}

.box2B {
    display: flex;
}

.wrapper3{
    display:block;
    padding: 20px;
}

