@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



body {

    width: 100%; 
    max-width: 900px;
    margin: 0 auto !important;  
    
}



main {
    margin-top: 100px;

    }


html{
    font-family: Arial, Helvetica, sans-serif;
   
}








/*media query. Is this ok for mobile version? */
@media only screen and (max-width:767px){

    

    nav span a{
        display: flex;
        justify-content: flex-start; 
       
        padding-bottom: 0px; 
        padding-top: 0px; 
        padding-left: 10px;  
        
    }

   

    

     .navbar{
        background-color: black;
        overflow: hidden;
        
    }
    .navbar a {
        
        justify-content: space-between;
        color: snow;
      
    }

   

    .navbar a:active{
        color: #0075f6;
        
    } 

     .navbar .icon{
        display: block; 
        float: right;
        text-transform: uppercase;
        color: gray;
        padding-left: 10px;
        
    } 
      /*navbar fixed on top*/
     .navbar {
        position:fixed;
        top:0;
        width: 100%;
    } 

    span .menu {
        padding-left: 10px;
    }


   .navbar ul {
       display: none;
       
   }

   .fa-bars{
       padding-right: 10px;
   }







    


    .box1 {
        width: 100%;
        
        
    }
    
    .box2 {
        width: 100%;
    }
    .box3 {
        width: 100%;
    } 
    .box2B{
        width: 100%;
    }

     
    .wrapper2{
        display: grid;
        float: left;
    } 
    .wrapper3{
        display: grid;
        float: left;
    } 



    /*for the function*/
    .navbar.responsive {
         position: relative; 
        
        /* width: 90%;
        position: fixed;
        top:0; */
    
    }

    
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive ul {
        float: none;
        display: block;
        text-align: left;
        
        
    }

    


   
}






/* media query for medium and big  */

@media only screen and (min-width: 768px) {

    body{
        
        /* background-color:gainsboro; */
    }

    nav {
        position: relative;
        border: solid transparent;
        background-color: white;
    } 

   

    .navbar .icon{
        display: none;
        
    }
    
    /* fixed navbar */
     .navbar{
        position:fixed;
        top:0;
         width: 75%; 
    } 

    span li a {
        position: absolute;
    }

    /* img{
         width: 360px;
         height: 400px;
        } */

}

/*Media query medium size devices for specific elements*/
 





/*navbar*/
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
     display: flex; 
    justify-content: flex-end;
  
}

nav ul a{
    text-decoration: none;
    padding: 10px;
    background-color: transparent;
    color: black;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

 
   


/*logo navbar*/
 nav span {
     list-style: none;  
      margin: 0px;
     padding-bottom: 0px;  
     /* display: flex; 
     justify-content: flex-start;  */
} 




span li a  {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: transparent; 
    /* display: flex;
    justify-content: flex-start; */
    
}  
 



span li a:hover{
    color: black;
    text-decoration: none;
}


a:hover {
    color: #0075f6;
    text-decoration: underline;
}


/* fixed navbar
.navbar{
    position:fixed;
    top:0;
    width: 100%;
} */




/*header*/
header {
    display: flex;
    padding: 48px;
    /* border:solid springgreen; */
}







/*about me section*/
/*What I do section*/

  


.box1 {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    font-family: "Poppins";
     
    
}

.box1:first-child{
    align-self: center;
}

.box2 {
    border: solid yellowgreen;
    display: flex;
}
.minibox{
   flex:1;
}

.box3 {
    border: solid yellowgreen;
}

/*specific parts of the box*/
.wrapper2 {
    display: grid;
    padding: 20px;
}

.box2B {
    display: flex;
}

.wrapper3{
    display:block;
    padding: 20px;
}


/* contact form*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: "Poppins";

}
input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: "Poppins";

}

 input[type=submit]  { 
    background-color: #0075f6;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Poppins";
}

input[type=submit]:hover{
    background-color: #45a049;
}

